.main {
  padding: 132px 40px;
}

.section {
  &__title {
    font-size: 28px;
  }

  &__content {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-color: #fffaf0;
    box-shadow: 0 0 3px inset #000;
    &[data-ferriswheel] {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.ferrisWheel {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.button {
  padding: 8px 16px;
  background-color: salmon;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  box-shadow: 1px 1px 3px #000;
  &:active {
    opacity: 0.7;
    box-shadow: none;
  }
}
