<div class="ferrisWheel">
  <button class="button" data-ferrisWheel="create" type="button">create</button>
  <button class="button" data-ferrisWheel="destroy" type="button">destroy</button>
  <button class="button" data-ferrisWheel="restart" type="button">restart</button>
  <button class="button" data-ferrisWheel="pause" type="button">pause</button>
</div>
