<div class="merryGoRound">
  <button class="button" data-merryGoRound="create" type="button">create</button>
  <button class="button" data-merryGoRound="destroy" type="button">destroy</button>
  <button class="button" data-merryGoRound="restart" type="button">restart</button>
  <button class="button" data-merryGoRound="pause" type="button">pause</button>
</div>
