<%_ const sectionList = [{type: 'ferrisWheel', name: 'かんらんしゃ'},{type:
'merryGoRound', name: 'めり〜ご〜らんど'},{type: 'skyDiving', name:
'スカイダイビング '},{type: 'accompany', name: 'オトモぐんまちゃん '}] _%> <%_
sectionList.forEach((section) => { _%>
<section class="section">
  <h2 class="section__title"><%- section.name %></h2>
  <div class="section__content container" data-<%- section.type %>
    > <%- include(`./_${section.type}.ejs`) %>
  </div>
</section>
<%_ }); _%>
